name: release
on:
  repository_dispatch:
    types: [target-released]
jobs:
  copy-from-repository:
    runs-on: ubuntu-latest
    steps:
      - name: Set version variable
        id: version
        run: |
          VERSION=$(echo ${{ github.event.client_payload.ref }} | sed -e "s#refs/tags/##g")
          echo ::set-output name=version::$VERSION
      - name: checkout
        uses: actions/checkout@v2
      - run: mkdir ../tmp_to
      - name: 更新後も残したいファイルを退避
        run: |
          cp README.md ../tmp_to
          cp -r .github ../tmp_to
      - name: ファイル内を全削除
        run: rm -rf *
      - name: コピー元リポジトリをclone
        uses: actions/checkout@v2
        with:
          repository: howyi/release-dir-copy-from
          path: tmp_from
          ref: ${{ github.event.client_payload.ref }}
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
      - name: 対象ディレクトリを移動
        run: cp -r tmp_from/copy/* ./
      - run: rm -rf tmp_from/
      - name: 退避したファイルを戻す
        run: cp -r ../tmp_to/* .
      - run: git status
      - name: 差分があればpush
        run: |
          git add .
          if ! $(git status -s)
          then
            git diff
            git status
            git config user.name github-actions
            git config user.email github-actions@github.com
            git add .
            git diff
            git status
            git commit -m "Update to version ${{ steps.version.outputs.version }}"
            git push
          fi
      - name: タグを付ける
        run: |
          git tag ${{ steps.version.outputs.version }}
          git push origin ${{ steps.version.outputs.version }}